<header>
  <div class="jumbotron">
    <div class="container text-center">
      <h1 id='header-h1'>Welcome to the Task Manager</h1>

      <a href='tasks' type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> View Tasks
      </a>

      <a href='tasks/new' type="button" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Task
      </a>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <h2>Feature 1</h2>
    </div>

    <div class="col-md-4 text-center">
      <h2>Feature 2</h2>
    </div>

    <div class="col-md-4 text-center">
      <h2>Feature 3</h2>
    </div>
  </div>
</div>
